form {
    margin: auto;
    width: min(600px, 80%);
    padding: 20px;
    border: 1px solid #362FD9;
    border-radius: 10px;
 
  }
 
  .save{
    padding: 0.25rem 0.5rem; /* Adjust padding to change button size */
    margin-bottom: 10px; /* Adjust margin-bottom as needed */
    width: 100px;
    margin-right: 10px;
  }
  .reset{
    padding: 0.25rem 0.5rem; /* Adjust padding to change button size */
    margin-bottom: 10px; /* Adjust margin-bottom as needed */
    width: 100px;
  }
 
 
  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #31256e;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #31256e;
  }
 
  .phone{
    margin-top: 0px;
    }
 
  input[type="date"] {
    padding: 12px; /* Adjust padding as needed */
    border: 1px solid #362FD9; /* Add border for visual clarity */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Adjust font size */
    margin-bottom: 20px;
  }
 
  select {
    border: 1px solid #362FD9; /* Add border for visual clarity */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Adjust font size */
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select
  {
    width: 100%;
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 20px;
    border: 1px solid #362FD9;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 0.5;
  }
 
.marital{
  margin-top: 20px;
  margin-bottom: 10px;
 
}
 
 
 
.input-field-home{
  margin-top: 20px;
  margin-bottom: 10px;
}
 
  textarea {
    height: 100px;
    resize: vertical;
  }
 
  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
 
  .checkbox {
    display: flex;
    align-items: flex-start;
    margin-right: 2px;
  }
  .checkboxes label {
    margin-right: 20px;
  }
 
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
 
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
 
  .buttons {
    display: flex;
      justify-content: center;
    }
 
    .buttons button {
      background-color: #854d28;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      width: 150px;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
    }
 
    .buttons button:hover {
      background-color: #31256e;
    }