<div class="contactus">
  <div class="title">
    <h2>Contact Us</h2>
  </div>
  <div class="box">
    <!--Form-->
    <div class="Contact form">
      <h3>Send a Message</h3>
      <form action="#">
        <div class="formBox">
          <div class="row50">
            <div class="inputBox">
              <span>First Name</span>
              <input type="text" placeholder="Your first Name">
            </div>
 
            <div class="inputBox">
              <span>Last Name</span>
              <input type="text" placeholder="Your last Name">
            </div>
          </div>
 
          <div class="row50">
            <div class="inputBox">
              <span>Email Address</span>
              <input type="text" placeholder="xyz@gmail.com">
            </div>
 
            <div class="inputBox">
              <span>Mobile</span>
              <input type="text" placeholder="+91 87900989000">
            </div>
          </div>
 
          <div class="row100">
            <div class="inputBox">
              <span>Your Message</span>
              <textarea placeholder="Type in your message..."></textarea>
            </div>
          </div>
 
          <div class="row100">
            <div class="inputBox">
              <input type="submit" value="Send" class="submit">
            </div>
          </div>
        </div>
      </form>
    </div>
 
    <!--info-->
    <div class="Contact info">
      <h3>Contact Info</h3>
      <div class="infoBox">
        <div>
          <span><i class="fa-solid fa-location-dot"></i> </span>
          <p>Bengaluru, Karnataka, INDIA</p>
        </div>
        <div>
          <span><i class="fa-solid fa-envelope"></i></span>
          <a href="mailto:sptintgroup03@gmail.com">sprintgroup03@gmail.com</a>
        </div>
        <div>
          <span><i class="fa-solid fa-phone"></i></span>
          <a href="mailto:+91 86382XXXXX">+91 86382XXXXX</a>
        </div>
      </div>
    </div>
 
    <!--map-->
    <div class="Contact map">
     
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0741116300937!2d77.72039632358896!3d12.967109414979705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1218b4c67cd1%3A0xdc71e7943b27169e!2sCAPGEMINI%20Divyashree%20DTP!5e0!3m2!1sen!2sin!4v1709880318129!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
    </div>
  </div>
</div>