.contactus {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
 
.contactus .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
 
.contactus .title h2 {
    color: #12486B;
    font-weight: 500;
    margin-bottom: 25px;
}
 
.form {
    grid-area: form;
}
 
.info {
    grid-area: info;
}
 
.map {
    grid-area: map;
}
 
.Contact {
    padding: 40px;
    background: #c0daef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
 
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
}
 
.Contact h3 {
    color: #12486B;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
 
.formBox {
    position: relative;
    width: 100%;
}
 
.formBox .row50 {
    display: flex;
    gap: 20px;
}
 
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
 
.formBox .row100 .inputBox {
    width: 100%;
}
 
.inputBox span {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
 
.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1.5px solid #12486B;
}
 
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1.5px solid #12486B;
    min-height: 180px;
    margin-bottom: 8px;
}
 
.inputBox input[type="submit"] {
    background: #414f97;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    content: pointer;
    padding: 14px 15px;
}
 
.inputBox input[type="submit"]:hover {
    background: #12486B;
}
 
.inputBox::placeholder {
    color: black;
}
 
.info {
    background: #5989c3;
}
 
.info h3 {
    color: #fff;
    margin-bottom: 35px;
}
 
.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
 
.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #12486B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
 
.info .infoBox div span:hover {
    background: #c0c5ef;
    color: #12486B;
}
 
.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 0px;
}
 
.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
 
.map {
    padding: 0;
}
 
.map iframe {
    width: 100%;
    height: 100%;
}
 
@media(max-width:991px) {
    .contactus {
        padding: 20px;
    }
 
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }
 
    .map {
        min-height: 300px;
    }
 
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
 
    .inputBox {
        width: 100%;
    }
 
    .Contact {
        padding: 30px;
    }
 
    .map {
        min-height: 300px;
    }
}